.chrome-bootstrap{
	font-family: ACheader !important;
}

.chrome-bootstrap .frame .view {
	-webkit-margin-start: 225px;
}

.chrome-bootstrap ul.menu li a{
	color: white;
	line-height: 3em;
}
.chrome-bootstrap ul.menu li.selected a {
	color: rgb(255, 226, 129);
}
		
.background {
	background-image: url("../img/background.png");
	background-size: cover;
    margin: 0;
}
				
.view .content{
	margin-bottom: 10px;
	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	border-radius: 12px;
}
		
.view header{
	background-color:white;
	padding: 10px 50px;
	border-radius: 12px;
}


img.logo{
	background-size: 180px;
	width: 130px;
}

.navigation .menu{
	margin-top: 1em;
  		text-align: center;
}

.navigation .menu li a{
	height: 50px;
	background-size: auto 50px;
  		background-repeat: no-repeat;
  		background-position: center; 
  		padding: 10px 0;
}

.navigation .menu li a {
	color: white;
	line-height: 3em;
  		vertical-align: middle;
}

.bottom-decoration{
	background-image: url("../img/house.png");
    background-size: 150px auto;
    background-repeat: no-repeat;
    width: 150px;
    height: auto;
    min-height: 110px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.option-onglet-link a{
	background-image: url("../img/woodplank-sign1.png");
}
.town-tune-link a{
	background-image: url("../img/woodplank-sign1.png");
}

.help-link a{
	background-image: url("../img/woodplank-sign3.png");
}

.logo-container{
	padding-top: 10px;
	width: 100%;
    text-align: center;
    -webkit-app-region: drag;
}

table.developper-table{
	width: 100%;
	font-family: ACtext;
}